# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]

# Python Packaging
*.egg-info/

# Environment Variables
.env

# IDE
.vscode/

# Generated Data
data/raw/*
data/processed/*
data/exports/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/exports/.gitkeep